#blockedUserContainer {
    position: absolute;
}

.blocked-user-modal {
    background-color: white;
    width: 300px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0 5px 6px #000000;
    position: absolute;
}

.blocked-user-modal .blocked-user-modal-bar {
    box-shadow: inset 0 5px 6px white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 40px;
    line-height: 50px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(75, 118, 127);
}

.blocked-user-modal .blocked-user-info {
    display: flex;
    padding-left: 10px;
    margin-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    width: 270px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
}

.blocked-user-modal .blocked-user-icon img {
    width: 50px;
    height: 50px;
}

.blocked-user-modal .blocked-user-info-box {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blocked-user-modal .hr-line {
    width: 270px;
}
