/* * {
    margin: 0;
    padding: 0;
} */

#modal-container {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.create-group-modal {
    /* display: grid;
    place-items: center; */
    background-color: white;
    width: 700px;
    height: 475px;
    box-shadow: 0 10px 8px #000000;
    border-radius: 20px;
    position: absolute;
}

.create-group-modal .create-group-modal-bar {
    box-shadow: inset 0px 5px 6px white;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 60px;
    width: 700px;
    text-align: center;
    line-height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(75, 118, 127);
}

.create-group-modal .select-group-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.group-comment {
    margin-top: 25px;
    text-align: center;
}

.create-group-modal .group-box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.create-group-modal .title_box {
    width: 24%;
}

.create-group-modal .mode-box {
    width: 17%;
}

.create-group-modal .tier-box {
    width: 14%;
}

.create-group-modal .people-box {
    display: none;
    width: 7%;
}

.create-group-modal .private-box {
    width: 11%;
}

.create-group-modal .select-position-box {
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create-group-modal .group-box-item-input {
    height: 25px;
}

.create-group-modal .select-position-box img {
    height: 110px;
    width: 110px;
    cursor:
        url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur")
            5 5,
        pointer;
}

.create-group-modal .select-position-box .forbidden {
    pointer-events: none;
}

.create-group-modal .complete-btn {
    font-weight: bold;
    font-size: 25px;
    padding-top: 7px;
    text-align: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: rgba(106, 106, 106);
    width: 130px;
    height: 40px;
    border-radius: 15px;
    cursor:
        url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur")
            5 5,
        pointer;
}

.close {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 10px;
    font-size: 20px;
}
