@import url("root.css");

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey);
    height: 50px;
    position: relative;

    >img {
        align-items: center;
        height: 40px;
        position: relative;
    }

    >nav {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        color: white;
        position: absolute;
        right: 100px;

        >img {
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #6e5b5b;
            border-radius: 100%;
        }
    }
}

*:active {
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/ccursor.cur") 5 5,
        pointer;
}

* {
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/cursor+(2).cur") 5 5,
        auto;
}

@media (max-width: 768px) {
    header {
        >nav {
            right: 10px;
        }
    }
}

@media (max-width: 576px) {
    header {
        >nav {
            position: static;
        }
    }
}

body {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(#00000040, #00000040),
        url("https://with-lol.s3.ap-northeast-2.amazonaws.com/background/background.jpg");
    background-size: cover;
    /* background-position: 50%; */
    background-repeat: no-repeat;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: rgb(106, 106, 106, 0.5);

    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur") 5 5,
        pointer;
}

.logout {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: rgb(106, 106, 106, 0.5);
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur") 5 5,
        pointer;
}

.main {
    width: 1260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    gap: 4px;

    .table_wrapper {
        height: 360px;
        overflow-y: scroll;

        /* 아래의 모든 코드는 영역::코드로 사용 */
        &::-webkit-scrollbar {
            width: 10px;
            /* 스크롤바의 너비 */
        }

        &::-webkit-scrollbar-thumb {
            height: 10%;
            /* 스크롤바의 길이 */
            background: white;
            /* 스크롤바의 색상 */

            border-radius: 10px;
        }

        body::-webkit-scrollbar-track {
            background: rgba(33, 122, 244, .1);
            /*스크롤바 뒷 배경 색상*/
        }
    }

    .table_wrapper>table {
        scrollbar-gutter: stable both-edges;
        width: 1145px;
        min-width: fit-content;
        border-spacing: 0 8px;

        >tbody>tr {
            color: white;
            transition: all 0.5s;

            &:hover {
                filter: brightness(0.8);
            }

            background-color: var(--sub-bg);

            &:first-child {
                position: sticky;
                top: 8px;
                z-index: 1;
                background-color: #1ea4ae;
                height: 4;

                >section {
                    color: var(--bg);
                }
            }

            >th,
            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                height: 30px;
                box-sizing: border-box;
                padding: 0px 20px;
            }

            >th {
                font-size: 18px;
                position: sticky;
                top: 8px;
            }

            >td {
                >img {
                    height: 32px;
                    /* 
                    &:nth-child(4) {
                    } */

                    &[on] {
                        filter: brightness(1);
                        backdrop-filter: blur(10px);
                    }
                }
            }

            >th:first-child,
            td:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            >th:last-child,
            td:last-child {
                border-right: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            >th:nth-child(n + 2),
            td:nth-child(n + 2) {
                border-left: solid 3px #0000007d;
            }
        }
    }
}

.title_room {
    width: 36%;
    text-align: left;
}

.title_people {
    width: 4%;
}

.title_tier {
    width: 8%;
}

.title_user {
    width: 11.5%;
    text-align: left;
}

.title_type {
    width: 12.5%;
}

.title_position {
    width: 27%;
}

.user-rank {
    display: flex;
}

/* .group_user{
    color: black;
} */

/* .group_user:hover {
    color: black;
} */
.group_user>span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;


    &:hover {
        color: black;
    }
}

.group_people {
    text-align: center;
}

.group_tier {
    text-align: center;
}

.group_type {
    text-align: center;
}

.group_name>span {
    display: inline-block;
    width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-context {
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

.refresh {
    display: flex;
    width: 38px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.841);
    border-radius: 8px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.841);
    gap: 10px;
    padding: 4px 10px;
    border-radius: 8px;

    >input {
        background-color: rgba(255, 255, 255, 0);
        color: black;
        font-size: 16px;

        outline: none;
        border: 1px solid rgba(255, 255, 255, 0);
    }
}

.make-group {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 96px;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #ffaa00e4;
}

.user-search {
    width: 1145px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.user-group {
    color: white;
}

aaa .login {
    color: white;
}

.logout {
    color: white;
}

#groupOpenButton,
#groupCloseButton,
#profileOpenButton,
#profileCloseButton {
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur") 5 5,
        pointer;
}

#groupContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

#profile {
    display: flex;
    align-items: center;
    gap: 8px;

    #profile-list {
        display: flex;
        flex-direction: column;

        &>div:hover~#profile-list-items,
        #profile-list-items:hover {
            display: flex;
            flex-direction: column;
            animation: fade-in 0.3s;
            animation-fill-mode: forwards;
        }

        #profile-list-items {
            position: absolute;
            top: 30px;
            list-style: none;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#groupManageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

#positionSelectContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#profileContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#friendRequestContainer {
    width: 100%;
    height: 100vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
}

#userClickContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#friendListContanier {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
}

#blockedUserContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#friendListContanier.hidden,
#blockedUserContainer.hidden,
#userClickContainer.hidden,
#friendRequestContainer.hidden,
#profileContainer.hidden,
#updateGroupContainer.hidden,
#groupContainer.hidden,
#groupManageContainer.hidden,
#positionSelectContainer.hidden {
    display: none;
}

#login.hidden,
#profile.hidden {
    display: none;
}

.main_page .group_position {
    padding: 0;

    >div {
        display: flex;
        justify-content: space-around;
        padding: 0px;
        height: 50px;

        >div {
            display: flex;
            width: 20%;
            justify-content: center;
            align-items: center;

            >img {
                max-width: 80%;
                max-height: 80%;
            }

            &:nth-last-child(n+2) {
                border-right: 1px solid #0000007d;
            }
        }
    }
}

.chatting-notice-img-btn {
    position: absolute;
    left: 150px;
    bottom: 140px;
    width: 70px;
    height: 70px;
}

.chatting-notice-img-btn.hidden {
    display: none;
}

.user_click {
    z-index: 5;
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur") 5 5,
        pointer;
}

.chatting_button_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 80px;
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.6);
    user-select: none;
}

.chatting_img_btn {
    width: 100%;
    padding: 4px;
    cursor: url("https://with-lol.s3.ap-northeast-2.amazonaws.com/cursor/pcursor.cur") 5 5,
        pointer;
}

.chatting_drag_btn {
    color:white;
    width: 90%;
    height: 20px;
    padding: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    cursor: grab;
}

.chatting_drag_btn:active {
    cursor: grabbing;
}