body {
  margin: 0;
  padding: 0;
}

#header {
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-size: 24;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

#middle {
  padding-top: 60px;
}

.form-group .form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.label-input-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 10px;
}